---
layout: default
css-include: /css/main.css
sorted: 1
---

{% assign components = site.components | sort: 'order' %}

<section id="kHeader" class="carousel slide overlay" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {% for component in components %}
        {% unless component.shortDescription %}{% continue %}{% endunless %}
        <article class="carousel-item dark-text {% if forloop.first %}active{% endif %}">
            <div class="carousel-item-content">
                <div class="slide-background" style="background-image: url({{ component.screenshot }})"></div>
                <div class="carousel-text-overlay">
                    <h1>{{ component.name }}</h1>
                    <p>{{ component.shortDescription }}</p>
                    <a href="#{{ component.name | downcase }}" class="learn-more smooth-scroll">Learn More</a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>

    <ol class="carousel-indicators">
        {% for component in components %}
        {% unless component.shortDescription %}{% continue %}{% endunless %}
        <li data-target="#kHeader" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
</section>

<main aria-label="Content" id="content" class="container">
  <h1>{{ site.title }}</h1>

  <aside id="kWelcome" class="container">
    <p>Calligra Suite is a graphic art and office suite by KDE. It is available for desktop PCs, tablet computers, and smartphones. It contains applications for word processing, spreadsheets, presentation, vector graphics, and digital painting. <br> </p>
</aside>

{% for component in components %}
{% unless component.description %}{% continue %}{% endunless %}
<a name="{{ component.name | downcase }}" id="{{ component.name | downcase }}" class="product-anchor"></a>
<div class="block">
    <div class="kAppInfo">
        <div class="kAppInfo-content">
            <h2><a href="{{ component.url }}">{{ component.name }}</a></h2>
            <p>{{ component.description }}</p>
            <p><a href="{{ component.url }}">Read more...</a></p>
        </div>
        <img src="{{ component.screenshot }}" class="preview" alt="{{ component.name }}">
    </div>
</div>
{% endfor %}

</main>
